*{
	margin: 0;
	padding: 0;
	font-family: Fira Code, Consolas;
}

html{
	scroll-behavior: smooth;
}

header{
	/* position: fixed; 
	top: 0; 
	width: 100%; */
	background-image: url(../Assets/black.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 27px;
	margin-right: 5px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	margin: 5px;
	padding: 5px 20px;
	border: .5px solid #fff;
	transition: 0.35s ease;
}

ul li a:hover{
	background-color:#fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}


.logo{
	float: left;
	width: 100px;
	height: auto;
}


.logotext{
	position:absolute;
	left: 5%;
	width: 100px;
	height: 80px;
	margin-top:10px;

}

.main{
	max-width: 1200px;
	margin: auto;

}


.title{
	position: absolute;
	align-content: center;
	top: 50%;
	left: 46%;
	transform: translate(-50%, -50%);
}


.title h1{
    font-family: 'Bebas Neue', sans-serif;
	color: #fff;
	font-size: 70px;
}

.title h3{
	font-family: fantasy;
	color: rgb(26, 224, 115);
	font-size: 30px;
	font-weight: 100;
}



.attendance-sec{
	background: #36CEB9;
	height: 100vh;
	background-size: cover;
	background-position: center;

}
.attendance h2 a{
	text-decoration: none;
	position: absolute;
	top: 112%;
	left: 40%;
	color: #294858;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.attendance p{
	position: absolute;
	top: 125%;
	left: 40%;
	color: #405f6e;
	font-family: gabriola;
	font-size: 40px;
}


.marks-sec{
	background: #5599C8;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.marks-img{
	position: absolute;
	top: 212%;
	left: 55%;
	margin: 10px;
}
.marks h2 a{
	text-decoration: none;
	overflow-wrap: break-word;
	position: absolute;
	top: 212%;
	left: 5%;
	color: #Fff;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.marks p{
	position: absolute;
	top: 225%;
	left: 5%;
	color: #fff;
	font-family: gabriola;
	font-size: 40px;
}

.project-sec{
	background: #fff;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.project-img{
	position: absolute;
	position: absolute;
	top: 312%;
	left: 55%;
	margin: 10px;
}
.project h2 a{
	text-decoration: none;
	position: absolute;
	top: 312%;
	left: 5%;
	color: #000
	;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.project p{
	position: absolute;
	top: 325%;
	left: 5%;
	color: #000;
	font-family: gabriola;
	font-size: 40px;
}



.complete-stud-sec{
	background: #e1e6e8;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.complete-stud-img{
	position: absolute;
	max-width: 500px;
	height: auto;
	top: 412%;
	left: 55%;
	margin: 10px;
}
.complete-stud h2 a{
	text-decoration: none;
	position: absolute;
	top: 420%;
	left: 5%;
	color: #000;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.fac-sub h2 a{
	text-decoration: none;
	position: absolute;
	top: 430%;
	left: 5%;
	color: #000;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.stud-sub h2 a{
	text-decoration: none;
	position: absolute;
	top: 440%;
	left: 5%;
	color: #000;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
}

.complete-stud p{
	position: absolute;
	top: 430%;
	left: 5%;
	color: #000;
	font-family: gabriola;
	font-size: 40px;
}


footer{
	height: 89vh;
	width: 700px;
	background-size: cover;
	background-position: center;
}

.footer-img{
	position: absolute;
	height: auto;
	width: 100%;
	top: 510%;

	left: 0%;
	margin: 10px;
}

.footer-names{
	position: absolute;
	top: 570%;
	left: 5%;
	color: #fff;
}

.footer-copyright p{
	position: absolute;
	top: 620%;
	left: 42%;
	color: #fff;
}


